@charset "utf-8";
/* CSS Document */
*{ padding:0;
   margin:0; 
   
}
section {
	height:700px;
	border-bottom: rgba(45,62,79,1.00) 1px solid;
}
::selection
{
	background:rgba(241,79,79,1.00);
color:#fff;
}

::-moz-selection
{
	background:rgba(241,79,79,1.00);
color:#fff;
}
html body{
	
	font-family:"思源黑体 CN Medium","微软雅黑";
	background:rgba(250,250,250,1.00);
	font-size:10px;
}
a{text-decoration:none;color:rgba(45,62,79,1.00);

}
ul{list-style:none}
/*全局样式结束*/
header{width:100%;z-index:-5;position:relative;height:700px;} 
header img{width:90%;position: absolute; z-index:-4;bottom:6px;
          transform:translate(5%,0);
		  -o-transform:translate(5%,0);
		  -moz-transform:translate(5%,0);
		  -webkit-transform:translate(5%,0);}
header  span {display:none;width:100%;height:100%; z-index:-3;position:absolute;left:0;top:0;background:rgba(0,0,0,0.0);}
 /*头部样式结束*/
#nav_wrap{
	display:none;
	width:100%;
	height:85px;
	background:rgba(250,250,250,1.00);
	border-bottom:rgba(22,36,47,0.30) 1.5px solid;	
	z-index:50;
	position:fixed;
	top:0;
	
}
.logo_w {z-index:51;
         position:fixed;
		 top:30px;
		 width:80.5px;
		 left:107px;
		 transition:all .4s ease-in;
		 -o-transition:all .4s ease-in;
		 -moz-transition:all .4s ease-in;
		 -webkit- transition:all .4s ease-in;
}
.logo_s {z-index:51;
         position:fixed;
		 top:17px;
		 left:70px;
		 width:125px;
		 transform: rotate(-90deg);
		 -o-transform: rotate(-90deg);
		 -moz-transform: rotate(-90deg);
		 -webkit-transform: rotate(-90deg);
		 transition:all .4s linear;
		 -o- transition:all .4s linear;
		 -moz-transition:all .4s linear;
		 -webkit-transition:all .4s linear;
}
.logo_m {z-index:51;
         position:fixed;
		 top:27px;
		 left:42px;
		 width:33px;
		 display:none;
}
 /* LOGO END*/
.navor { z-index:51;right:11%; font: 1.3rem  "思源黑体 CN Medium","微软雅黑" ;position:fixed ; top:50px;
         transition:all .5s ease-in-out ; 
		 -o-transition:all .5s ease-in-out ; 
		 -moz- transition:all .5s ease-in-out ;
		 -webkit- transition:all .5s ease-in-out ;}

/*.navbe { font:1.5rem "Big John";position:	absolute;top:60px; transition:all .9s linear; -webkit- transition:all .9s linear;}*/
/*.navaf { font:1.0rem "Big John";position:fixed;top:19px;}*/

.nav_f_l {display:inline-block;height:40px;margin-left:50px;line-height:40px;position:relative;padding:0 6px;}
.f_h     {color:rgba(56,72,96,1.00);
          transition:color .2s ease-in;
		  -o-transition:color .2s ease-in;
		  -moz-transition:color .2s ease-in;
		  -webkit-transition:color .2s ease-in;}

.nav_f_l:hover .f_h{color: rgba(241,85,86,1.00); position:relative;/* text-shadow:0 2px 2px rgba(22,36,47,0.1);*/ }
.nav_f_l .f_h:before{
	position:relative;
    left:100%;
	content:"/";
	/*height:.5rem;
	width:.5rem;
	border:1px #666666 solid;*/
	transform: translate(0%,0%)  rotate(45deg);
	-o-transform: translate(0%,0%)  rotate(45deg);
	-moz-transform: translate(0%,0%)  rotate(45deg);
	-webkit-transform: translate(0%,0%)  rotate(45deg);
	transition:all .4s ease-in;
	-moz-transition:all .4s ease-in;
	-webkit-transition:all .4s ease-in;
	-o-transition:all .4s ease-in;
}
.nav_f_l .f_h:after{
	position:relative;
  
	content:"/";
	/*height:.5rem;
	width:.5rem;
	border:1px #666666 solid;*/
	transform: translate(0%,0%)  rotate(45deg);
	transition:all .2s linear;
}
.nav_f_l:hover .f_h:before{
	position:relative;
    left:0%;
	content:"/";
	/*height:.5rem;
	width:.5rem;
	border:1px #666666 solid;*/
	transform: translate(-100%,0%)  rotate(0deg);
	
}
.nav_f_l:hover > ul a {color:rgba(250,250,250,1.00); }

.nav_f_l > ul {display:none;top:40px;position:absolute;left:-1px;}
.nav_f_l > ul > li{background:rgba(52,72,91,.9);width:150px;line-height:40px;padding-bottom:2px;padding-left:5px; box-shadow:0 2px 2px rgba(23,23,23,0.2);}
.nav_f_l > ul > li:hover{background:rgba(241,85,86,1);}
.nav_f_l > ul > li:hover a{color:rgba(42,62,81,1.00);font-weight:bold;}

.kong{height:21px;
      display:block;
      background:rgba(0,0,0,0);
	}
 /*导航样式结束*/
#intro {
	height:700px;
	background:rgba(250,250,250 ,1);
	position:relative;
}
#intro blockquote {
	position:absolute;
	left:50%;
	margin-left:-415px;
	top:40px;
	text-align:center;

	width:830px;
	
}
#intro blockquote p{
font:1.3rem/2rem  "仿宋";
	 
}
#intro h3{
	font: 10rem  "思源黑体 CN Medium";
	color:rgb(50,50,50);
	position:relative;	
}

.gap {
	position:relative;
	width:100%;
	height:180px;
	background:rgba(47,55,61,1);
}
.gap span {
	z-index:1;
	position:absolute;
	top:100%;
	left:50%;
	margin-left:-15px;
	width:0;
	height:0;
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	border-top:15px solid rgba(47,55,61,1);	
}
.gap h2 {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-4rem;
	margin-top:-1rem;
	font-size:2.5rem;
	color:rgba(250,250,250,1);

}
